<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Usuário</th>
      <th>Conteúdo</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <% tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.id %></td>
        <td><%= tweet.user.display_name %></td>
        <td><%= tweet.body %></td>
        <td><%= tweet.created_at.strftime("%d/%m/%Y %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @next_cursor %>
  <%= link_to "Carregar mais", tweets_path(cursor: @next_cursor), 
              data: { turbo_frame: "tweets_list" }, 
              class: "btn btn-primary mt-3" %>
<% end %>