<h1><%= @company.name %></h1>

<p><strong>ID:</strong> <%= @company.id %></p>
<p><strong>Nome:</strong> <%= @company.name %></p>

<%= link_to "Editar", edit_company_path(@company), class: "btn btn-secondary" %>
<%= link_to "Voltar", companies_path, class: "btn btn-link" %>